<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bizpoll.mybatis.LoginMapper.xml">
	<select id="loginList" resultType="com.bizpoll.dto.MemberDTO" parameterType="String">
		<![CDATA[
			SELECT *
			FROM    member
			WHERE id = #{id}
		]]> 
	</select>
</mapper>